
@{
    ViewBag.Title = "Profile";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <br />
                    <div class="row">
                        <div class="col">
                            <center>
                                <h4>Profile Details</h4>
                            </center>
                            <center>
                                <p>
                                    @Html.ActionLink("Edit", "Create")
                                </p>

                            </center>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <center>
                                <img width="100px" src="~/Images/Profilepic.png" />
                            </center>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <center>
                            <label>Name</label>
                            <div class="form-group">
                            </div>
                        </center>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>

                    <div class="row, text-center">

                        <div class="col-md-3">
                            <label class="text-center">Age</label>
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="text-center">Skill</label>
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="text-center">Address</label>
                            <div class="form-group">

                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>

                </div>
            </div>

            <br>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <h4>Project List</h4>
                            </center>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <asp:GridView class="table table-striped table-bordered" ID="GridView1" runat="server"></asp:GridView>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <h4>Previous experience</h4>
                            </center>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <asp:GridView class="table table-striped table-bordered" ID="GridView1" runat="server"></asp:GridView>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <h4>Academic merits</h4>
                            </center>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <asp:GridView class="table table-striped table-bordered" ID="GridView1" runat="server"></asp:GridView>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
