@{
    ViewBag.Title = "About";
}


<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">CV Vault</h1>
                <p class="lead text-muted mb-0">A great way to impress the boss</p>

            </div>
            
        </div>
    </div>
</div>

<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5"><div class="col-lg-6 d-none d-lg-block"><img src="~/Images/LaptopGirl.png" alt="" class="img-fluid"></div>
            <div class="col-lg-6 order-2 order-lg-1">
                <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Why create a CV?</h2>
                <p class="font-italic text-muted mb-4"> A CV, which stands for curriculum vitae, is a document used when applying for jobs. It allows you to summarise your education, skills and experience enabling you to successfully sell your abilities to potential employers. </p>
            </div>
            
        </div>
        
        <div class="row align-items-center">
            
            <div class="col-lg-6">
                <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Why use CV Vault?</h2>
                <p class="font-italic text-muted mb-4">CV Vault enables you to network with people and professional organizations in your industry. 
                We make it possible for you to share your current and previous experiences and projects with the press of a button which might give you the upper edge in securing that job you always wanted or impress the boss. 
                This is a great way to stay up to date with the latest developments, and to share information with others in your field.</p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="~/Images/LaptopDude.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>

        

        
    </div>
</div>
