@{
    ViewBag.Title = "Contact";
}

<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">Contact us at CV Vault</h1>
                <p class="lead text-muted mb-0">The easiest ways to contact us at CV Vault</p>

            </div>

        </div>
    </div>
</div>

<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 d-none d-lg-block"><img src="~/Images/EmailorPhone.png" alt="" class="img-fluid"></div>
            <div class="col-lg-6 order-2 order-lg-1">
                <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Via phone or email</h2>
                <p class="font-italic text-muted mb-4"> 
                    <address>
                        <strong>Support:</strong>   <a href="mailto:Support@CVVault.com">Support@example.com</a><br />
                        <strong>Marketing:</strong> <a href="mailto:Marketing@CVVault.com">Marketing@example.com</a>
                        <abbr title="Phone">P:</abbr>
                        019.666.1234
                    </address>
                 </p>
            </div>

        </div>

        <div class="row align-items-center">

            <div class="col-lg-6">
                <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">In person</h2>
                <p class="font-italic text-muted mb-4">
                    <h4 class="text-danger">Currently not avalible due to COVID</h4>
                    <h4>Our current address:</h4>
                    <address>
                        Örebro University<br />
                        Fakultetsgatan 1<br />
                        702 81 Örebro<br />
                        Sverige<br />
                    </address>
                </p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="~/Images/map.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>




    </div>
</div>